@{
    ViewBag.Title = "Perficient Client Conference";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 text-center">
        <h2>Perficient Client Conference</h2>
        <br/>
        <br/>
        <p>The Perficient Client Conference is being held to bring clients together to discuss how great it is working with Perficient.</p>
        <br/>
        <p>Friday, April 26th 2019</p>
        <br/>
        <p>@Html.ActionLink("Register", "Register", "Clients", null, new {@class = "btn btn-primary"})</p>
    </div>
    <div class="col-md-2">
    </div>
</div>